<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/assets/css/menu.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Restaurant Menu</h1>
  <div class="menu">
    <div class="section">
      <h2 class='app'>Appetizers</h2>
      <dl>
      <% menu.forEach(function (menuItem) { %>
        <% if (menuItem.type === 'Appetizer') { %>
          <dt><%= menuItem.name %>  <small>$<%= menuItem.price %></small><br/></dt><dd><%= menuItem.description %></dd>
        <% } %>
      <% }) %>
      </dl>
    </div>
    <div class="section">
      <h2 class='entrees'>Entrees</h2>
      <dl>
      <% menu.forEach(function (menuItem) { %>
        <% if (menuItem.type === 'Entree') { %>
          <dt><%= menuItem.name %>  <small>$<%= menuItem.price %></small><br/></dt><dd><%= menuItem.description %></dd>
        <% } %>
      <% }) %>
      </dl>
    </div>
    <div class="section">
      <h2 class='desserts'>Desserts</h2>
      <dl>
      <% menu.forEach(function (menuItem) { %>
        <% if (menuItem.type === 'Dessert') { %>
          <dt><%= menuItem.name %>  <small>$<%= menuItem.price %></small><br/></dt><dd><%= menuItem.description %></dd>
        <% } %>
      <% }) %>
      </dl>
    </div>
    <div class="section">
      <h2 class='misc'>Miscellaneous</h2>
      <dl>
      <% menu.forEach(function (menuItem) { %>
        <% if (menuItem.type === 'Other') { %>
          <dt><%= menuItem.name %>  <small>$<%= menuItem.price %></small><br/></dt><dd><%= menuItem.description %></dd>
        <% } %>
      <% }) %>
      </dl>
    </div>
  </div>
</body>
</html>
