<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <script src="/scripts/jquery.js"></script>
</head>
<body>
  <h1>Restaurant Menu</h1>
  <h2>Appetizers</h2>
  <% menu.forEach(function (menuItem) { %>
    <% if (menuItem.type === 'Appetizer') { %>
      <li><%= menuItem.name %>  <small class="price"><%= menuItem.price %></small><br/><%= menuItem.description %></li>
    <% } %>
  <% }) %>
  <h2>Entrees</h2>
  <% menu.forEach(function (menuItem) { %>
    <% if (menuItem.type === 'Entree') { %>
      <li><%= menuItem.name %>  <small class="price"><%= menuItem.price %></small><br/><%= menuItem.description %></li>
    <% } %>
  <% }) %>
  <h2>Desserts</h2>
  <% menu.forEach(function (menuItem) { %>
    <% if (menuItem.type === 'Dessert') { %>
      <li><%= menuItem.name %>  <small class="price"><%= menuItem.price %></small><br/><%= menuItem.description %></li>
    <% } %>
  <% }) %>
  <h2>Miscellaneous</h2>
  <% menu.forEach(function (menuItem) { %>
    <% if (menuItem.type === 'Other') { %>
      <li><%= menuItem.name %>  <small class="price"><%= menuItem.price %></small><br/><%= menuItem.description %></li>
    <% } %>
  <% }) %>
  <div class="current-order"><small id='total'></small></div>
  <script type='text/javascript' src='/scripts/orders.js'></script>
</body>
</html>
